<style type="text/css">
.error { 
  background-image: url(https://images.monoprice.com/productsmallimages/127191.jpg); 
}
</style>
<img src="https://images.monoprice.com/productsmallimages/127191.jpg" />
<div class="error"></div>